.userDetailAndStatsWrapper{
    background: #878b88;
    padding: 16px;
}

@media (max-width:720px) {
    .userDetailAndStatsWrapper{
        /* Center-align the content within the wrapper on screens with a maximum width of 720px */
        text-align: center;
    }
}